.form-section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.section-group {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}

.module-group {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
    display: inline-block;
    vertical-align: top;
    width: calc(33.333% - 20px);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
}

.btn-secondary {
    margin-right: 10px;
}

.remove-section-btn,
.remove-module-btn {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
    margin-top: 10px;
}

.remove-section-btn:hover,
.remove-module-btn:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.add-module-btn {
    margin-top: 10px;
}

.module-container {
    margin-top: 10px;
    overflow: hidden;
}

.module-container .module-group {
    margin-bottom: 10px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}
